services:
  app:
      build: .             
      container_name: fastapi_app
      ports:
        - "8080:8080"      
      depends_on:
        - db               
      restart: always      
      environment:
        DATABASE_URL: postgresql+psycopg2://yrii:secretpass@db:5432/prdb
  

  db:
    image: postgres:15-alpine  
    container_name: postgres_container
    restart: always
    environment:
      POSTGRES_USER: yrii           
      POSTGRES_PASSWORD: secretpass 
      POSTGRES_DB: prdb         
    ports:
      - "8000:5432"           
    volumes:
      - postgres_data:/var/lib/postgresql/data 

  
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: yuriylitvinov08@gmail.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  postgres_data: 
